@mixin x-svg-inline {
  &__title {
    display: flex;
  }

  .svg-inline {
    @include svg-inline($title: true);

    &--fullscreen {
      @include svg-inline--styleable;
      svg {
        fill: black;
        stroke: green;
      }
    }
  }
}
