@mixin x-intrinsic--flex-column {
  display: flex;
  flex-direction: column;

  .title {
    display: flex;
  }

  .figure {
    @include figure;

    .picture {
      @include intrinsic-ratio-flexbox(2, 3, '.img');
    }
  }

}
