@mixin x-icon-hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 100vh;

  .icon-hamburger {
    @include icon-hamburger($lem * 3);
  }

  .x {
    @include icon-hamburger--close($lem * 3);
  }
}
