// SVG icons
//
// [Icomoon](https://icomoon.io/) lets collect all icons into a single SVG sprite and use them elegantly
// [Simpleicons.org](http://simpleicons.org/) has a set of original brand icons.
//
// Styleguide icon
@mixin icon($width: $lem, $height: $lem, $title: false, $color-scheme: none) {
  display: flex;
  align-items: center;

  .svg-inline {
    @include svg-inline($title: $title);

    .svg {
      width: $width;
      height: $height;
    }
  }
}
