// The tablet landscape image must be rotated 90deg counter clockwise
// Otherwise rotating back the <figure> element is not working

@mixin mockup--tablet-landscape {
  @include mockup--tablet;

  transform: rotate(90deg);

  @include mobile {
    transform: rotate(90deg) scale(.75);
  }

  @include tablet {
    transform: rotate(90deg) scale(.85);
  }

  @include desktop {
    transform: rotate(90deg) scale(1.2);
  }
}
