@mixin button-with-triangle($direction: right, $size: $lem, $color: $black) {
  display: flex;
  align-items: center;

  &__text {
    margin-right: $lem / 2;
  }

  .triangle {
    @include triangle($direction, $size, $color)
  }
}
