@mixin cliptext__text($color-scheme: black-on-white, $blend-mode: lighten) {
  display: block; // Flex is not working ...
  word-wrap: break-word;

  @include colors($color-scheme);
  mix-blend-mode: $blend-mode;
}
