// Hamburger icon close
//
// The hamburger icon transformed into a close button (X)
//
// $height - it should be as tall as wide;
//
// Experimental - the `rotate()` is messing up everything; it needs manual adjust on small sizes
//
// Styleguide hamburger-icon-close
@mixin icon-hamburger--close($height: $lem + $lem / 2) {
  .line {
    display: flex;
  }

  .line-1 {
    @include animation(iconHamburgerLine1);
    @include keyframes(iconHamburgerLine1) {
      to {
        transform: rotate(45deg) translateY($height / 2);
        margin-left: $height / 2;
      }
    }
  }

  .line-3 {
    @include animation(iconHamburgerLine3);
    @include keyframes(iconHamburgerLine3) {
      to {
        transform: rotate(-45deg) translateY(-$height / 2);
        margin-left: $height / 2;
      }
    }
  }

  .line-2 {
    @include animation(iconHamburgerLine2);
    @include keyframes(iconHamburgerLine2) {
      to {
        opacity: 0;
      }
    }
  }
}
