@mixin grid($items-per-row, $margin-right, $margin-bottom, $max-items-to-display) {
  display: flex;
  flex-wrap: wrap;

  $item-width: percentage(1 / $items-per-row);

  > * {
    flex-basis: calc(#{$item-width} - (((#{$items-per-row} - 1) * #{$margin-right}) / #{$items-per-row}));
    margin-right: $margin-right;
    margin-bottom: $margin-bottom;
    box-sizing: border-box;
    display: none;

    &:nth-child(#{$items-per-row}n) {
      margin-right: 0;
    }

    @for $i from 1 to $max-items-to-display + 1 {
      &:nth-child(#{$i}) {
        display: flex;
      }
    }
  }
}
