// A
//
// The new animation component based on [Material Motion](https://material.google.com/motion/material-motion.html#material-motion-how-does-material-move)
//
// Styleguide a


// Animation durations
$a-duration-short: 150ms;
$a-duration-long: 300ms;

// +30% for tablet
$a-duration-short-tablet: 195ms;
$a-duration-short-tablet: 390ms;



// Animation timing functions
$a-timing-standard: cubic-bezier(0.4, 0.0, 0.2, 1);
$a-timing-deceleration: cubic-bezier(0.0, 0.0, 0.2, 1);
$a-timing-acceleration: cubic-bezier(0.4, 0.0, 1, 1);
$a-timing-sharp: cubic-bezier(0.4, 0.0, 0.6, 1);




@mixin a($type) {
  @if ($type == single-arc-up) {
    @include a--single-arc-up;
  }
}
