@mixin devices__mockups {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 70vh;

  .mockup {
    @include mockup;
    @include mockup--placeholder;
    @include mockup--morphing;
  }

  @include devices__mockups--hide;
}
