@mixin devices__mockups {
  display: flex;
  justify-content: center;
  align-items: center;

  .mockup {
    @include mockup;
    @include mockup--placeholder;
    @include mockup--morphing;
  }

  .hidden-images {
    display: none;
  }
}
