@mixin icon-hamburger--animation($state, $rotate1, $translate1, $scale, $border, $rotate2, $translate2, $scale3, $opacity) {
  .line-1 {
    @include animation(iconHamburgerLine1-#{$state});
    @include keyframes(iconHamburgerLine1-#{$state}) {
      to {
        transform: rotate($rotate1) translateY($translate1) scale($scale);
        @include border($border);
      }
    }
  }

  .line-3 {
    @include animation(iconHamburgerLine3-#{$state});
    @include keyframes(iconHamburgerLine3-#{$state}) {
      to {
        transform: rotate($rotate2) translateY($translate2) scale($scale);
        @include border($border);
      }
    }
  }

  .line-2 {
    @include animation(iconHamburgerLine2-#{$state});
    @include keyframes(iconHamburgerLine2-#{$state}) {
      to {
        transform: scale($scale3);
        opacity: $opacity;
      }
    }
  }
}
