// Arc up animation for a single element
//
// $name - animation name
// $duration - short, long
// $klass - move element when it has this class set (by JS)
// $x - move element right
// $y - move lement up
//
// https://material.google.com/motion/movement.html#movement-movement-within-screen-bounds
//
@mixin a--single-arc-up($name, $duration, $klass, $x, $y) {
  will-change: transform;

  &.#{$klass} {
    animation-name: #{$name};
    animation-timing-function: $a-timing-standard;
    animation-fill-mode: forwards;

    animation-duration: $a-duration-short;
    @include tablet {
      animation-duration: calc($a-duration-#{$duration} * $a-duration-tablet);
    }

    @keyframes #{$name} {
      to {
        transform: translateX($x) translateY(-$y);
      }
    }
  }
}
