// Arc up animation for a single element
//
// $name - animation name
// $duration - short, long
// $klass - move element when it has this class set (by JS)
// $x - move element right
// $y - move lement up
//
// https://material.google.com/motion/movement.html#movement-movement-within-screen-bounds
// http://tobiasahlin.com/blog/curved-path-animations-in-css/
//
// Experimental: to move along a path (curve, arc) we need to create many keyframe entries in sync with the cubic-bezier function
// If we simply use a cubic-bezier timing function with a single keyframe 'to' or '100%' the animation will be linear
//
@mixin a--single-arc-up($name, $duration, $klass, $x, $y) {
  will-change: transform;

  &.#{$klass} {
    animation-name: #{$name};
    animation-timing-function: $a-timing-standard;
    animation-fill-mode: forwards;

    animation-duration: $a-duration-$duration;
    @include tablet {
      animation-duration: $a-duration-#{$duration}-tablet;
    }

    @keyframes #{$name} {
      0% {
        transform: translateX(0) translateY(0);
      }
      40% {
        transform: translateX($x / 4) translateY(-$y / 10 );
      }
      80% {
        transform: translateX($x / 4 * 3) translateY(-$y / 4 * 3);
      }
      100% {
        transform: translateX($x) translateY(-$y);
      }
    }
  }
}
