@mixin fixed-scroll__slide($title-width) {
  position: relative;
  width: 100%;
  float: left;

  margin-bottom: 10vh;

  .title {
    display: block;
    position: absolute;;
    float: left;
    width: $title-width;

    font-size: 3em;
  }

  .content {
    width: calc(100% - #{$title-width});
    float: right;

    @include list;
    @include list--list-view;
  }

  &--active {
    @include fixed-scroll__slide--active;
  }
}
