@mixin x-intrinsic {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  &__title {
    display: flex;
    flex-basis: 100%;
    margin: 5vh 5vw;
  }

  aside {
    margin: 5vh 5vw;
    border: 1px solid;
    padding: $lem;
  }

  &--simple,
  &--with-image {
    flex-basis: 45%;
  }

  &--simple {
    @include x-intrinsic--simple;
  }

  &--with-image {
    @include x-intrinsic--with-image;
  }

  &--with-image-stretched {
    @include x-intrinsic--with-image-stretched;
  }

  &--flex-column {
    @include x-intrinsic--flex-column;
  }
}
